<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error | Baby Word Tracker</title>
  </head>
  <body>
    <h1>Baby Word Tracker</h1>
    <h2>Something went wrong!</h2>
    <pre>{{ .message }}</pre>
  </body>
</html>
